<?xml version="1.0"?>
<launch>

  <arg name="robot_namespace" default="/"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>
  <arg name="yaw" default="3.1416"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find scholar_base_gazebo)/world/scholar.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <!-- Load robot description -->
  <include file="$(find scholar_base_description)/launch/display.launch" >
    <arg name="robot_namespace" default="$(arg robot_namespace)"/>
  </include>


      <include file="$(find scholar_base_control)/launch/scholar_base_control.launch">

      </include>  

      <node name="spawn_scholar_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model $(arg robot_namespace)" />


</launch>
