<?xml version="1.0"?>
<launch>

  <arg name="multimaster" default="false"/>

  <arg name="simulation" default="false"/>

  <arg name="robot_namespace" default="/"/>

  <arg name="enable_ekf" default="true"/>

  <arg name="laser_enabled" default="true"/>


  <!-- Load robot description -->
  <include file="$(find scholar_description)/launch/display.launch" >
    <arg name="laser_enabled" default="$(arg laser_enabled)"/>
    <!--arg name="robot_namespace" default="$(arg robot_namespace)"/-->
  </include>

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find scholar_control)/config/control.yaml" />

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" 
        args="scholar_joint_publisher scholar_velocity_controller"/>

  <!-- Start EKF for localization -->
  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find scholar_control)/config/localization.yaml" />
    </node>
  </group>

  <!--node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/-->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find scholar_control)/config/twist.yaml" />
    <remap from="cmd_vel_out" to="scholar_velocity_controller/cmd_vel"/>
  </node>


</launch>
