<launch>
   
   <arg name="port_name" default="/dev/verma_scholar" />
   <arg name="port_rate" value="115200" />

   <arg name="wheel_diameter" default="0.265" />
   <arg name="wheel_track" default="0.473" />

   <arg name="linear_speed_calibrate_factor" default="1.00" />
   <arg name="angular_speed_calibrate_factor" default="2.00"/>

   <arg name="ns" default="scholar" />

   <node pkg="scholar_bringup" type="scholar_bringup" name="scholar_bringup" output="screen" required="true" cwd="node" >
      <param name="port_name" value="$(arg port_name)" />      
      <param name="linear_speed_calibrate_factor" value="$(arg linear_speed_calibrate_factor)" />      
      <param name="angular_speed_calibrate_factor" value="$(arg angular_speed_calibrate_factor)" />   
      <param name="port_rate" value="$(arg port_rate)" />
      <param name="wheel_diameter" value="$(arg wheel_diameter)" />
      <param name="wheel_track" value="$(arg wheel_track)" />
      <param name="ns" value="$(arg ns)" />
   
   </node>
      
   <!--include file="$(find scholar_control)/launch/scholar_control.launch" /-->
	
</launch>
